Checks: >
  -*,
  bugprone-*,
  -bugprone-exception-escape,
  clang-analyzer-*,
  -clang-analyzer-deadcode.DeadStores,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*'

CheckOptions:
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: '1'
